{% extends "base.html" %}

{% block title %}Add question{% endblock %}

{% block main %}

<section class="container">
  <article class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <!-- Errors if any -->
      {% if question.errors is not empty %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for error in question.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      <h1 class="text-center text-primary font-weight-light py-3">Задайте своє запитання</h1>
      <form method="post" id="addQuestion" action="/questions/add">
        <!-- Add question form -->
        <div class="form-group">
          <label for="subject">Тема</label>
          <input
            type="text"
            class="form-control"
            id="subject"
            name="subject"
            value="{{ question.subject }}"
            placeholder="Було б дуже корисно..."
          >
        </div>
        <!-- Text input -->
        <div class="form-group">
          <label for="body">І ваше запитання тут:</label>
          <textarea
            class="form-control"
            id="body"
            name="body"
            rows="3"
          >{{ question.body }}</textarea>
        </div>
        <!-- Button -->
        <button type="submit" class="btn btn-primary">Надіслати</button>
      </form>
    </div>
  </article>
</section>
{% endblock %}