{% extends "base.html" %}

{% block title %}All questions and answers{% endblock %}

{% block main %}

<section class="container-fluid">
  <article class="row justify-content-center px-3">
    <!-- New questions -->
    <div class="col-12 py-3 text-center">
      <h1 class="text-primary font-weight-light ">New questions.</h1>
      <form class="py-3" method="post" action="questions">
        <button type="submit" class="btn btn-success">Ask one!</button>
      </form>
    </div>
    {% if questions %}
    {% include 'Questions/unanswered.html' %}
    {% endif %}
    {% if posts %}
    <!-- Answered questions -->
    <div class="col-12 py-3">
      <h1 class="text-center text-primary font-weight-light">Already answered.</h1>
    </div>
    {% include 'Questions/answered.html' %}
    {% endif %}
  </article>
</section>
{% endblock %}
