{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block main %}

{% block footer %}
<script src="/public/js/formValidation.js"></script>
<script src="/public/js/showHidePassword.js"></script>
{% endblock %}
<section>
  <h1 class="text-center text-primary font-weight-light py-3">Зареєструватися</h1>

  <div class="container pb-3">
    <div class="row justify-content-center px-3">
      <div class="col-12 col-md-8 col-lg-6 col-xl-4">
        <!-- Errors if any -->
        {% if user.errors is not empty %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Перегляньте свої дані:</strong>
          <ul>
          {% for error in user.errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- Form -->
    <form method="post"
      id="formSignup"
      action="/signup/create"
      class="needs-validation"
      >
      <!-- email -->
      <div class="form-group">
        <label for="inputEmail">
          <span class="text-danger">
            *
          </span>
          Адреса електронної пошти
        </label>
        <input
          id="inputEmail"
          type="email"
          name="email"
          value="{{ user.email }}"
          required
          autofocus
          class="form-control"
          aria-describedby="inputEmail"
          placeholder="Це буде ваше ім’я для входу"
          autocomplete="username email"
        >
        <div class="valid-feedback">
          Виглядає добре!
        </div>
      </div>
      <!-- Password -->
      <div class="form-group">
        <label for="inputPassword">
          <span class="text-danger">
            *
          </span>
          Пароль
        </label>
        <div class="input-group" id="show_hide_password">
          <input
            id="inputPassword"
            type="password"
            name="password"
            required
            pattern="^.*(?=.{1,6})(?=.*\d)(?=.*[a-zA-Z]).*$"
            class="form-control"
            autocomplete="new-password"
            title="Продовжуйте пробувати..."
          >
          <!-- Show password button -->
          <div class="input-group-append">
            <span class="input-group-text" id="validationTooltipRegPasswordAppend">
              <a class="show-hide-password"
                href=""
                aria-label="Show hide password button"
              >
                <i class="fa fa-eye-slash" aria-hidden="true">
                </i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <!-- User name -->
      <div class="form-group">
        <label for="inputName">
          <span class="text-danger">
            *
          </span>
          Ім'я
        </label>
        <input
          type="text"
          id="inputName"
          name="name"
          value="{{ user.name }}"
          required
          class="form-control"
          placeholder="Ваше ім'я"
          aria-describedby="inputName"
        >
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <!-- Last name -->
      <div class="form-group">
        <label for="inputLastName">
          <span class="text-danger">
            *
          </span>
          Прізвище
        </label>
        <input
          id="inputLastName"
          name="last_name"
          type="text"
          value="{{ user.last_name }}"
          required
          class="form-control"
          placeholder="Та прізвище"
          aria-describedby="inputLastName"
        >
      </div>
      <!-- Gender -->
      <fieldset class="form-group mb-0">
        <legend class="col-form-label col-sm-2 pl-0">
          <span class="text-danger">
            *
          </span>
          Стать
        </legend>
        <div class="col-sm-10 pl-0">
          <div class="py-1 custom-control custom-radio custom-control-inline">
            <input
              class="custom-control-input"
              type="radio"
              name="gender"
              id="genderMale"
              value="male"
              required
            >
            <label class="custom-control-label" for="genderMale">
              👨 Чоловіча
            </label>
          </div>
          <div class="py-1 custom-control custom-radio custom-control-inline">
            <input
              class="custom-control-input"
              type="radio"
              name="gender"
              id="genderFemale"
              value="female"
              required
            >
            <label class="custom-control-label" for="genderFemale">
              👩 Жіноча
            </label>
          </div>
          <div class="py-1 custom-control custom-radio custom-control-inline">
            <input
              class="custom-control-input"
              type="radio"
              name="gender"
              id="genderTrans"
              value="trans"
              required
            >
            <label class="custom-control-label" for="genderTrans">
              ⚧️ Third gender
            </label>
          </div>
        </div>
        <label id="gender-error" class="error" for="gender"></label>
      </fieldset>
      <!-- Birthday -->
      <div class="form-group">
        <label for="birthDate">
          <span class="text-danger">
            *
          </span>
          Дата народження
        </label>
          <input
            class="form-control"
            type="date"
            value="{{ user.birth_date }}"
            id="birthDate"
            name="birth_date"
            required
          >
      </div>
      <!-- Vehicle -->
      <fieldset class="form-group">
        <legend class="col-form-label col-10 pl-0">
          <span class="text-danger">
            *
          </span>
          Транспортний засіб
        </legend>
        <div class="col-sm-10 pl-0">
          <div class="custom-control custom-radio custom-control-inline">
            <input 
              class="custom-control-input"
              type="radio"
              name="car"
              id="noCar"
              value="0"
              checked
              onclick="toggleCarNameField()"
            >
            <label class="custom-control-label" for="noCar">
              Немає
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              class="custom-control-input"
              type="radio"
              name="car"
              id="car"
              value="1"
              onclick="toggleCarNameField()"
            >
            <label class="custom-control-label" for="car">
              Так
            </label>
          </div>
        </div>
      </fieldset>
      <!-- Vehicle name -->
      <div class="form-group">
        <label for="inputCarName">
          {% if user.car == 1 %}
          <span class="text-danger">
            *
          </span>
          {% endif %}
          Марка автомобіля
        </label>
        <input
          type="text"
          id="inputCarName"
          name="car_name"
          class="form-control"
          {% if user.car == 1 %}
            disabled="false"
            value="{{ user.car_name }}"
          {% else %}
            disabled="disabled"
          {% endif %}
        >
      </div>
      <!-- Terms agreement -->
      <div class="form-group custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          id="terms"
          name="terms"
          required
        >
        <label class="custom-control-label" for="terms">
          Я погоджуюся з <a href="/rules">умовами використання</a> сайту.
        </label><br />
        <label id="terms-error" class="error" for="terms"></label>
      </div>
      <!-- Signup button -->
      <button type="submit" class="btn btn-primary">Зареєструватися</button>
    </form>
  </div>
</section>
{% endblock %}
