{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block main %}

{% block footer %}
<script src="/public/js/app.js"></script>

<script>
  $(document).ready(function() {
    /**
     * Validate the form
     */
    $('#formSignup').validate({
      rules: {
        name: 'required',
        email: {
          required: true,
          email: true,
          remote: '/account/validate-email'
        },
        password: {
          required: true,
          minlength: 6,
          validPassword: true
        }
      },
      messages: {
        email: {
          remote: 'Email already taken'
        }
      }
    })
  })
  function togglePasswordVis() {
    const passwordField = document.getElementById(`inputPassword`)
    if (passwordField.type === `password`) {
      passwordField.type = `text`;
    } else {
      passwordField.type = `password`;
    }
  }
</script>

{% endblock %}
<h1 class="text-center">Sign up</h1>

<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
      <!-- Errors if any -->
      {% if user.errors is not empty %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Please review your input:</strong>
        <ul>
        {% for error in user.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
    <!-- Form -->
      <form method="post" action="/signup/create" id="formSignup">
        <div class="form-group">
          <label for="inputName">Name</label>
          <input
            id="inputName"
            name="name"
            value="{{ user.name }}"
            required
            autofocus
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Your name here"
          >
        </div>

        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input
            id="inputEmail"
            type="email"
            name="email"
            value="{{ user.email }}"
            required
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            autocomplete="username email"
          >
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input
            id="inputPassword"
            type="password"
            name="password"
            required
            class="form-control"
            placeholder="Password"
            autocomplete="new-password"
            title="Minimum 6 chars, at least one letter and number"
          >
        </div>

        <!-- Show password checkbox -->
        <div class="custom-control custom-checkbox mb-3">
          <input
            type="checkbox"
            onclick="togglePasswordVis()"
            class="custom-control-input"
            id="signupPasswordCheckbox"
            name="signupPasswordCheckbox"
          />
          <label class="custom-control-label" for="signupPasswordCheckbox">Show password</label>
        </div>
        <!-- Signup button -->
        <button type="submit" class="btn btn-primary">Sign up</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
