{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block main %}

{% block footer %}
<script src="/public/js/app.js"></script>

<script>
  $(document).ready(function () {
    /**
     * Validate the form
     */
    $('#formSignup').validate({
      rules: {
        name: 'required',
        lastName: 'required',
        email: {
          required: true,
          email: true,
          remote: '/account/validate-email'
        },
        password: {
          required: true,
          minlength: 6,
          validPassword: true
        },
        birthDate: 'required',
        terms: {
          required: true
        }
      },
      messages: {
        email: {
          remote: 'Email already taken'
        },
        terms: {
          required: 'Do you agree?'
        }
      }
    })
  })
</script>

{% endblock %}
<section>
  <h1 class="text-center text-primary font-weight-light py-3">Sign up</h1>

  <div class="container pb-3">
    <div class="row justify-content-center px-3">
      <div class="col-12 col-md-8 col-lg-6 col-xl-4">
        <!-- Errors if any -->
        {% if user.errors is not empty %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Please review your input:</strong>
          <ul>
          {% for error in user.errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- Form -->
    <form method="post" id="formSignup" action="/signup/create">
      <!-- email -->
      <div class="form-group row">
        <label for="inputEmail">Email address</label>
        <input
          id="inputEmail"
          type="email"
          name="email"
          value="{{ user.email }}"
          required
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          autocomplete="username email"
        >
        <small id="emailHelp" class="form-text text-muted">This will be your login name.</small>
      </div>
      <!-- Password input -->
      <div class="form-group row">
        <label for="inputPassword">Password</label>
        <input
          id="inputPassword"
          type="password"
          name="password"
          required
          class="form-control"
          placeholder="Password"
          autocomplete="new-password"
          title="Minimum 6 chars, at least one letter and number"
        >
      </div>
      <!-- Show password checkbox -->
      <div class="form-group row custom-control custom-checkbox">
        <input
          type="checkbox"
          onclick="togglePasswordVis()"
          class="custom-control-input"
          id="signupPasswordCheckbox"
          name="signupPasswordCheckbox"
        />
        <label class="custom-control-label" for="signupPasswordCheckbox">Show password</label>
      </div>
      <!-- User name -->
      <div class="form-group row">
        <label for="inputName">Name</label>
        <input
          id="inputName"
          name="name"
          value="{{ user.name }}"
          required
          autofocus
          class="form-control"
          placeholder="Your name here"
        >
      </div>
      <!-- Last name -->
      <div class="form-group row">
        <label for="inputLastName">Last Name</label>
        <input
          id="inputLastName"
          name="lastName"
          value="{{ user.lastName }}"
          required
          autofocus
          class="form-control"
          placeholder="Your last name"
        >
      </div>
      <!-- Gender -->
      <fieldset class="form-group row">
        <legend class="col-form-label col-sm-2 pl-0">Gender</legend>
        <div class="col-sm-10 pl-0">
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="gender" id="genderMale" value="male" checked>
            <label class="custom-control-label" for="genderMale">
              Male
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="gender" id="genderFemale" value="female">
            <label class="custom-control-label" for="genderFemale">
              Female
            </label>
          </div>
        </div>
      </fieldset>
      <!-- Birthday -->
      <div class="form-group row">
        <label for="birthDate">Date of birth</label>
          <input
            class="form-control"
            type="date"
            value="{{ user.birth_date }}"
            id="birthDate"
            name="birthDate"
            required
          >
      </div>
      <!-- Vehicle -->
      <fieldset class="form-group row">
        <legend class="col-form-label col-sm-2 pl-0">Vehicle</legend>
        <div class="col-sm-10 pl-0">
          <div class="custom-control custom-radio custom-control-inline">
            <input 
              class="custom-control-input"
              type="radio"
              name="car"
              id="noCar"
              value="0"
              checked
              onclick="toggleCarNameField()"
            >
            <label class="custom-control-label" for="noCar">
              No
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              class="custom-control-input"
              type="radio"
              name="car"
              id="car"
              value="1"
              onclick="toggleCarNameField()"
            >
            <label class="custom-control-label" for="car">
              Yes
            </label>
          </div>
        </div>
      </fieldset>
      <!-- Vehicle name -->
      <div class="form-group row">
        <label for="inputCarName">Car name</label>
        <input
          class="form-control"
          id="inputCarName"
          name="carName"
          value="{{ user.carName }}"
          placeholder="Ford, Subaru, Renault"
          {% if user.car == 1 %} disabled="false" {% else %} disabled="disabled" {% endif %}
        >
      </div>
      <!-- Terms agreement -->
      <div class="form-group row custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          id="terms"
          name="terms">
        <label class="custom-control-label" for="terms">I agree to the <a href="#">terms and conditions</a>.</label>
        <label id="terms-error" class="error" for="terms"></label>
      </div>
      <!-- Signup button -->
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>
</section>
{% endblock %}
