<!-- Create route form -->
<div class="container">
  <div class="row">
    <div class="col-12 pb-3">
      {% if current_user %}
      <h5>Create your route, {{ current_user.name }}</h5>
      {% endif %}
      <form method="post"
        id="createRouteForm"
        action="/routes/create"
      >
        <!-- Route origin -->
        <div class="form-group">
          <label for="routeOrigin">Звідки:</label>
          <input
            type="text"
            name="routeOrigin"
            id="createRouteOrigin"
            list="createRouteOriginList"
            class="form-control"
          >
          <datalist id="createRouteOriginList">
          </datalist>
        </div>
        <!-- Route destination -->
        <div class="form-group">
          <label for="routeDestination">Куди:</label>
          <input
            type="text"
            name="routeDestination"
            id="createRouteDestination"
            list="createRouteDestinationList"
            class="form-control"
          >
          <datalist id="createRouteDestinationList">
          </datalist>
        </div>
        <!-- Route departure date -->
        <div class="form-group">
          <label for="createDepartureDate">Виберіть дату:</label>
          <input
            class="form-control"
            type="date"
            value=""
            id="createDepartureDate"
            name="createDepartureDate"
            required
          >
        </div>
        <!-- Route passengers amount -->
        <div class="form-group">
          <label for="paxCapacity">How many seats are available?</label>
          <select
            class="custom-select"
            id="paxCapacity"
            name="paxCapacity"
            aria-describedby="paxCapacityHelp"
            {% if current_user.car == 0 %}
              disabled
            {% endif %}
          >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          {% if current_user.car == 0 %}
          <small id="paxCapacityHelp" class="form-text text-muted">
            You don't have a car, so obviously you can't haul someone.
          </small>
          {% endif %}
        </div>
        <!-- Button -->
        <button
          type="submit"
          {% if current_user.car == 0 %}
          disabled
          {% endif %}
          class="btn btn-primary"
        >
          Create route
        </button>
      </form>
    </div>
  </div>
</div>
