{% block footer %}
<script type="text/javascript" src="/public/js/formValidation.js"></script>
{% endblock %}

<!-- Create route form -->
<div class="container">
  <div class="row">
    <div class="col-12 pb-3">
      {% if current_user %}
      <h5 class="text-primary font-weight-light">Створіть свій маршрут, {{ current_user.name }}</h5>
      {% endif %}
      <form method="post"
        id="createRouteForm"
        action="/routes/create"
        class="needs-validation"
      >
        <!-- Route origin -->
        <div class="form-group has-success">
          <label for="routeOrigin">Звідки:</label>
          <input
            type="text"
            name="routeOrigin"
            id="createRouteOrigin"
            list="createRouteOriginList"
            class="form-control form-control-success"
            required
            {% if createRouteData is not empty %}
              value="{{ createRouteData.routeOrigin }}"
            {% endif %}
          >
          <datalist id="createRouteOriginList">
          </datalist>
          <div class="valid-feedback">
            Виглядає добре!
          </div>
        </div>
        <!-- Route destination -->
        <div class="form-group">
          <label for="routeDestination">Куди:</label>
          <input
            type="text"
            name="routeDestination"
            id="createRouteDestination"
            list="createRouteDestinationList"
            class="form-control"
            required
            {% if createRouteData is not empty %}
              value="{{ createRouteData.routeDestination }}"
            {% endif %}
          >
          <datalist id="createRouteDestinationList">
          </datalist>
          <div class="valid-feedback">
            Це може спрацювати.
          </div>
        </div>
        <!-- Route departure date -->
        <div class="form-group">
          <label for="createDepartureDate">Виберіть дату:</label>
          <input
            id="createDepartureDate"
            name="createDepartureDate"
            type="date"
            required
            class="form-control"
            {% if createRouteData is not empty %}
              value="{{ createRouteData.createDepartureDate }}"
            {% else %}
              value=""
            {% endif %}
          >
        </div>
        <!-- Route passengers amount -->
        <div class="form-group">
            <label for="paxCapacity">Скільки місць доступні?</label>
            <input
              type="text"
              name="paxCapacity"
              id="paxCapacity"
              class="form-control"
              required
              {% if createRouteData is not empty %}
                value="{{ createRouteData.paxCapacity }}"
              {% endif %}
              aria-describedby="paxCapacityHelp"
              {% if current_user.car == 0 %}
                disabled
              {% endif %}
            >
            {% if current_user.car == 0 %}
            <small id="paxCapacityHelp" class="form-text text-muted">
              У вас немає машини, тому, очевидно, ви не можете когось перевезти.
            </small>
            {% endif %}
          </div>
        <!-- Button -->
        <button
          type="submit"
          {% if current_user.car == 0 %}
          disabled
          {% endif %}
          class="btn btn-primary"
        >
          Створити маршрут
        </button>
      </form>
    </div>
  </div>
</div>
