<script type="text/javascript" src="/public/js/formValidation.js"></script>
<!-- Find route form -->
<div class="container">
  <div class="row">
    <div class="col-12 pb-3">
      <h5 class="text-primary font-weight-light">Знайдіть маршрути чи пасажирів</h5>
      <form method="post"
        id="findRouteForm"
        action="/routes/find"
        class="needs-validation"
      >
        <!-- Route origin -->
        <div class="form-group">
          <label for="searchRouteOrigin">Звідки:</label>
          <input
            type="text"
            name="routeOrigin"
            id="searchRouteOrigin"
            list="searchRouteOriginList"
            class="form-control"
            required
            {% if searchRouteData is not empty %}
              value="{{ searchRouteData.routeOrigin }}"
            {% endif %}
          >
          <datalist id="searchRouteOriginList">
          </datalist>
          <div class="valid-feedback">
            Виглядає добре!
          </div>
        </div>
        <!-- Route destination -->
        <div class="form-group">
          <label for="routeDestination">Куди:</label>
          <input type="text"
            name="routeDestination"
            id="searchRouteDestination"
            list="searchRouteDestinationList"
            class="form-control"
            {% if searchRouteData is not empty %}
              value="{{ searchRouteData.routeDestination }}"
            {% endif %}
          >
          <datalist id="searchRouteDestinationList">
          </datalist>
        </div>
        <!-- Route departure date -->
        <div class="form-group">
          <label for="searchDepartureDate">Виберіть дату:</label>
          <input
            class="form-control"
            type="date"
            id="searchDepartureDate"
            name="searchDepartureDate"
            {% if searchRouteData is not empty %}
              value="{{ searchRouteData.searchDepartureDate}}"
            {% else %}
              value=""
            {% endif %}
          >
        </div>
        <!-- Buttons -->
        <div class="row justify-content-between px-3">
          <button type="button"
            onclick="location.href = '/routes';"
            class="btn btn-success"
          >
            Подивитись всі
          </button>
          <button type="submit"
            class="btn btn-primary"
          >
            Знайти
          </button>
        </div>
      </form>
    </div>
  </div>
</div>