{% extends "base.html" %}

{% block main %}
<!-- Parallax -->
<!--section class="parallax">
  <img class="thumbnail" src="/public/img/car_3884.jpg" alt="Fast car, like really fast">
</section-->
<section class="container-fluid xp">
  <article class="row justify-content-around pt-4">
    <div class="col-sm-12 col-md-5">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Допомога водіям та пасажирам Vdorogu</h4>
          Ми пропонуєми місце, де водії та пасажири зможуть знайти один одного для здійснення спільної поїздки. На нашому сайті з пасажирів ніяка додаткова плата не знімається.
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5">
      <div class="accordion" id="routeFinderContainer">
        <div class="card">
          <div class="card-header" id="driversHeading">
            <h2 class="mb-0">
              <button
                class="btn btn-link text-left"
                type="button"
                data-toggle="collapse"
                data-target="#driverFormCollapse"
                aria-expanded="true"
                aria-controls="driverFormCollapse"
              >
                Пошук водіїв, що збираються їхати в потрібному напрямку
              </button>
            </h2>
          </div>
          <div id="driverFormCollapse"
            class="collapse show"
            aria-labelledby="driversHeading"
            data-parent="#routeFinderContainer"
          >
            <div class="card-body">
              {% include 'Home/driversForm.html' %}
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="paxHeading">
            <h2 class="mb-0">
              <button
                class="btn btn-link collapsed text-left"
                type="button"
                data-toggle="collapse"
                data-target="#paxFormCollapse"
                aria-expanded="false"
                aria-controls="paxFormCollapse"
              >
                Пошук пасажирів, що збираються їхати в потрібному напрямку
              </button>
            </h2>
          </div>
          <div id="paxFormCollapse"
            class="collapse"
            aria-labelledby="paxHeading"
            data-parent="#routeFinderContainer"
          >
            <div class="card-body">
              {% include 'Home/paxForm.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
{% endblock %}
