<!-- Pax form -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <form method="post" id="formPaxSearch" action="/routes/find">
        <!-- Pax departure -->
        <div class="form-group">
          <label for="paxDeparture">Звідки:</label>
          <select class="form-control" id="paxDeparture">
              <option>Виберіть</option>
              {% for city in cities %}
              <option>{{ city.city }} {{ city.county }} {{ city.province }}</option>
              {% endfor %}
          </select>
        </div>
        <!-- Pax destination -->
        <div class="form-group">
          <label for="paxDestination">Куди:</label>
          <select class="form-control" id="paxDestination">
              <option>Виберіть</option>
              {% for city in cities %}
              <option>{{ city.city }} {{ city.county }} {{ city.province }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="paxDate">Виберіть дату:</label>
            <input
              class="form-control"
              type="date"
              value="2018-07-22"
              id="paxDate"
              name="paxDate"
            >
        </div>
      <!-- button -->
      <button type="submit" class="btn btn-primary">Пошук водіїв</button>
      </form>
    </div>
  </div>
</div>