{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block main %}

{% block footer %}
<script src="/public/js/formValidation.js"></script>
<script src="/public/js/showHidePassword.js"></script>
{% endblock %}

<h1 class="text-center text-primary font-weight-light py-3">Логін</h1>

<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
      <!-- Errors if any -->
      {% if errors is not empty %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      <!-- Form -->
      <form method="post"
        id="loginForm"
        action="/login/create"
        class="needs-validation"
        >
        <div class="form-group">
          <label for="loginEmail">Адреса електронної пошти</label>
          <input
            id="loginEmail"
            type="email"
            name="email"
            class="form-control"
            aria-describedby="loginEmail"
            placeholder="Email"
            value="{{ email }}"
            autocomplete="username email"
            required
          >
          <div class="valid-feedback">
            Виглядає добре!
          </div>
        </div>
        <div class="form-group">
          <label for="loginPassword">Пароль</label>
          <div class="input-group" id="show_hide_password">
            <input
              id="loginPassword"
              type="password"
              name="password"
              class="form-control"
              placeholder="Password"
              autocomplete="current-password"
              required
            >
            <div class="input-group-append">
              <span class="input-group-text" id="validationTooltipUsernamePrepend">
                  <a class="show-hide-password"
                    href=""
                    aria-label="Show hide password button"
                  >
                  <i class="fa fa-eye-slash" aria-hidden="true">
                  </i>
                </a>
              </span>
            </div>
          </div>
          <label id="loginPassword-error"></label>
        </div>
        <!-- Checkbox -->
        <div class="custom-control custom-checkbox mb-3">
          <input
            type="checkbox"
            class="custom-control-input"
            id="remember_me"
            name="remember_me"
            {% if remember_me %} checked="checked" {% endif %}
          />
          <label class="custom-control-label" for="remember_me">Запам'ятати мене на цьому комп'ютері.</label>
        </div>
        <button id="loginBtn" type="submit" class="btn btn-primary" disabled>Увійти</button>
        <a class="pl-3" href="/password/forgot">Забули пароль?</a>
        <!-- Recaptcha hidden input -->
        <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
      </form>
    </div>
  </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LckWK8UAAAAAACm11deBGEpofja_8PmLJJ6zHch"></script>
<script defer type="module" src="/public/js/recaptcha.js"></script>
{% endblock %}
