{% extends "base.html" %}

{% block main %}
<h1 class="text-center">Add todo</h1>

<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
      <!-- Errors if any -->
      {% if todo.errors is not empty %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Please review your input:</strong>
        <ul>
        {% for error in todo.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      <!-- Form -->
      <form method="post" action="/todos/create">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input
              id="user_name"
              type="name"
              name="user_name"
              value="{{ todo.user_name }}"
              required
              autofocus
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Your name here"
            >
          </div>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input
            id="user_email"
            type="email"
            name="user_email"
            value="{{ todo.user_email }}"
            required
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          >
        </div>
        <div class="form-group">
          <textarea
            id="todo_text"
            name="todo_text"
            placeholder="..."
            class="form-control"
            rows="10"
            >{{ todo.todo_text }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
