{% extends "base.html" %}

{% block title %}Take a ride{% endblock %}

{% block main %}
<section class="container-fluid">
  <article class="row justify-content-center">
    <div class="col-12">
      <h1 class="py-3 text-center font-weight-light text-primary">Обраний маршрут:</h1>
    </div>
    <!-- Route info -->
    <div class="col-12 col-md-10">
      <div class="row justify-content-center p-3">
        <div class="col-12 col-sm-9 col-md-6 border rounded border-success py-2">
          Ви хочете виїхати з: <strong>{{ route.origin }}</strong><br />
          до <strong>{{ route.destination }}</strong><br />
          в <strong>{{ route.departure|date('d-m-Y') }}</strong><br />
          з <strong>{{ route.name }} {{ route.last_name }}</strong> в якості водія.<br />
          Існує <strong>{{ route.pax_capacity }}</strong> місця в цілому із
          <strong>{{ route.pax_capacity - passengers|length }}</strong> вакантних.
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-6">
          <form method="post" action="/routes/addPax?routeId={{ route.id }}">
            <!-- Route passengers amount -->
            <div class="form-group row">
              <div class="col-12 d-flex align-items-center justify-content-end">
                <button type="submit"
                  class="btn btn-success ml-2"
                >
                  Підтвердіть
                </button>
                <a role="button"
                  class="btn btn-secondary ml-2 text-white"
                  href="/routes"
                >
                  Скасувати
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </article>
</section>
{% endblock %}
