{% extends "base.html" %}

{% block title %}Terms and conditions{% endblock %}

{% block main %}
<section class="container">
  <article class="row justify-content-center">
    <div class="col-12 col-lg-9 py-3">
      <h1 class="pb-3 text-center text-primary font-weight-light">Правила користування станом на 1 березня 2019 року</h1>
      <div class="accordion" id="rulesAccordion">
        <div class="card">
          <div class="card-header" id="headingShortText">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#shortText" aria-expanded="true" aria-controls="shortText">
                Коротка інструкція
              </button>
            </h2>
          </div>
          <div id="shortText" class="collapse show" aria-labelledby="headingShortText" data-parent="#rulesAccordion">
            <div class="card-body">
              Від відомого, на цю тематику, сайту, цей відрізняється тим, що потенційні
              пасажири також можуть оголошувати про свою поїздку, а водії пропонувати їм
              свої послуги. Реєстрація на сайті з допомогою email. Далі всі дії проводяться
              через особистий кабінет. У випадку бронювання місця пасажиром або водієм
              - тому хто оголосив поїздку приходить email.
              Пропоную тестувати по маршруту Київ - Харків та Харків - Київ.
              При оголошені поїздки в коментарії пишіть Tест. Зауваження, побажання,
              виявлені баги пишіть на сторінці "Запитання та відповіді".
              Запрошуються всі, в кого є час та натхнення.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingLongText">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed text-left" type="button" data-toggle="collapse" data-target="#longText" aria-expanded="false" aria-controls="longText">
                Правила користування станом на 1 березня 2019 року
              </button>
            </h2>
          </div>
          <div id="longText" class="collapse" aria-labelledby="headingLongText" data-parent="#rulesAccordion">
            <div class="card-body"><pre>
Vdorogu створила платформу спільних автомобільних поїздок, доступну на веб-сайті за адресою
www.Vdorogu.com.ua, яка дозволяє обмінюватися інформацією водіям, які прямують до певного
пункту призначення, та пасажирам, які прямують за тим самим маршрутом, з метою спільного
здійснення Поїздки, та, відповідно, спільного розділення витрат на неї (надалі – «Платформа»).
Ці Умови користування розроблені з метою регулювання здійснення доступу та використання
Платформи. Будь ласка, уважно прочитайте їх.
Здійснивши реєстрацію на Платформі, Ви підтверджуєте, що Ви прочитали ці Умови користування
та прийняли їх положення. Здійснюючи такі дії Ви також усвідомлюєте, що відповідно до
законодавства України ваше прийняття цих Умов користування означає укладення електронного
договору між Vdorogu та Вами з умовами, викладеними у цих Умовах користування. Ви також
розумієте та усвідомлюєте, що Vdorogu не є стороною будь-якого договору, контракту чи
договірних відносин будь-якого роду, укладених Учасниками цієї Платформи між собою.

        2.   Визначення
    У цьому документі
    «Оголошення» означає оголошення про Поїздку, яке Водій або Пасажир опублікував на
Платформі;
    «Vdorogu» має значення, вказане у Статті 1 вище;
    «Умови користування» означають ці умови користування;
    «Акаунт» означає обліковий запис, що створюється для того, щоб стати Учасником та мати доступ
до певних послуг, які пропонуються на Платформі;
    «Водій» означає Учасника, який використовує Платформу з метою розміщення пропозицій
спільної Поїздки для інших осіб, час якої самостійно визначається Водієм, або пропонує вибраному
Пасажиру спільну поїздку в обмін на Внесок на покриття витрат на Поїздку;
    «Підтвердження бронювання» має значення, вказане у Статті 4.2.1. нижче;
    «Контент Учасника» має значення, вказане у Статті 11.2. нижче;
    «Учасник» означає будь-яку особу, яка створила акаунт на Платформі;
    «Пасажир» означає Учасника, який прийняв пропозицію Водія щодо спільної Поїздки або який
використовує Платформу з метою розміщення маршруту яким він планує скористатись і по якому
він чекає пропозицій від Водіїв;
    «Внесок на покриття витрат» для певної Поїздки означає суму, яку запитує Водій та приймає
Пасажир у вигляді покриття витрат на поїздку;
    «Місце» означає місце в автомобілі Водія, яке бронює Пасажир;
    «Платформа» має значення, вказане у Статті 1 вище;
    «Бронювання» має значення, вказане у Статті 4.2.1. нижче;
    «Послуги» означають усі інформаційні та інші послуги, які надає Vdorogu через Платформу;
    «Веб-сайт» означає веб-сайт, доступний за адресою www.Vdorogu.org.ua;
    «Відрізок Поїздки» має значення, вказане у Статті 4.1. нижче;
    «Поїздка» означає поїздку, яку пропонує Водій у своєму Оголошенні, яке він публікує на
Платформі згідно з яким він погоджується підвезти Пасажирів в обмін на Внесок на покриття
витрат або це поїздка якою хоче скористатись Пасажир у своєму Оголошенні, яке він публікує на
Платформі і який погодився з пропозицією Водія;
    «Поїздка з бронюванням» має значення, вказане у Статті 4.2.1. нижче;
    «Доступ» має значення, вказане в Статті 5.1.1. нижче;
    «Вартість Доступу» має значення, вказане в Статті 5.1.1. нижче;
    «Послуги» має значення, вказане в Статті 5.1.1. нижче;
    «Спеціальні пропозиції» має значення, вказане в Статті 5.1.2. нижче.

        3. Реєстрація на Платформі та створення Акаунту
    3.1. Умови реєстрації на платформі
    Платформа може використовуватися фізичною особою віком від 18 років. Реєстрація на Платформі
неповнолітньої особи суворо заборонена. Отримуючи доступ до Платформи, використовуючи її
або реєструючись на Платформі, ви підтверджуєте і гарантуєте, що вам виповнилося 18 років.
    3.2.  Створення Акаунту
    Платформа дозволяє Учасникам розміщувати і переглядати Оголошення та взаємодіяти одне з
одним з метою бронювання Місця. Ви можете переглядати Оголошення, якщо ви не зареєстровані
на Платформі. Однак ви не можете розміщувати Оголошення або бронювати Місце, якщо ви не
створили Акаунт і не стали Учасником Платформи.
    Для того, щоби створити Акаунт, вам необхідно заповнити всі обов’язкові поля в реєстраційній
форм.
    Для реєстрації на Платформі ви зобов’язані прочитати і прийняти ці Умови користування та
Політику конфіденційності.
    Для того, щоб гарантувати актуальність та точність інформації протягом дії договірних відносин з
Vdorogu, при реєстрації вашого Акаунту ви погоджуєтеся надати точну і достовірну інформацію та
оновлювати її через ваш профіль або шляхом повідомлення Vdorogu.
    Ви погоджуєтеся зберігати у таємниці пароль, обраний під час створення Акаунту, та нікому його
не повідомляти. Якщо ви загубили або розголосили свій пароль, ви зобов’язані негайно
повідомити про це Vdorogu. Якщо ви не повідомите Vdorogu про втрату вашого паролю, його
шахрайське використання третьою особою або розголошення третій особі. Ви самостійно несете
відповідальність за використання вашого Акаунту третіми особами, якщо ви не повідомите
Vdorogu про втрату вашого паролю, його шахрайське використання третьою особою або
розголошення третій особі.
    Ви погоджуєтеся не створювати і не використовувати від свого імені або від імені третьої особи
інші Акаунти, крім того, що був первісно створений.
    3.3. Верифікація
    Vdorogu має право для цілей прозорості, підвищення довіри або попередження або виявлення
шахрайства створити систему для верифікації (перевірки) деякої інформації, яку ви вказуєте у
вашому профілі. Така верифікаціє відбувається, зокрема, коли ви вводите свій номер телефону.
Ви усвідомлюєте і погоджуєтеся, що будь-яке посилання на Платформі або під час надання Послуг
на «підтверджену» інформацію про Учасників, або інший подібний термін, означає лише те, що
Учасник успішно пройшов процедуру верифікації, що застосовується на Платформі або під час
надання Послуг, з метою надання вам більше інформації про такого Учасника, з яким ви
розглядаєте можливість здійснення подорожі. Vdorogu не може гарантувати достовірність,
надійність або дійсність інформації, що підлягає процедурі верифікації.

        4. Використання Послуг
    4.1. Розміщення Оголошень
    За умови дотримання вказаних нижче умов ви як Учасник можете створювати та публікувати
Оголошення на Платформі шляхом введення інформації про Поїздку, яку ви збираєтеся здійснити
(дати/часу, пунктів збору та прибуття, кількість запропонованих/необхідних Місць, можливі опції
Поїздки, розмір Внеску на покриття витрат тощо).
    Розміщуючи Оголошення, ви зазначаєте міста початку та закінчення подорожі.
Ви маєте право розміщувати Оголошення від імені Водія тільки якщо ви дотримуєтеся наступних
умов:
(i)      ви маєте дійсне водійське посвідчення;
(ii)     ви пропонуєте Оголошення щодо транспортних засобів, якими ви володієте на праві
власності або на підставі дозволу власника, а також в будь-якому випадку ви уповноважені
використовувати транспортний засіб для здійснення спільних автомобільних поїздок згідно з
правилами цих Умов користування;
(iii)   ви є і залишаєтесь головним водієм транспортного засобу, зазначеного в Оголошенні;
(iv)   транспортний засіб застрахований на випадок відповідальності перед третіми особами;
(v)     ви не маєте протипоказань або медичних застережень до керування транспортним засобом;
(vi) ви не маєте наміру розміщувати інше оголошення про ту саму Поїздку на Платформі;
(vii)  ви не маєте наміру пропонувати більше Місць ніж кількість, доступна у вашому
транспортному засобі;
(viii)   всі запропоновані Місця мають ремінь безпеки, навіть якщо транспортний засіб був
апробований з місцями, що не мають ременя безпеки;
(ix)     використовуєте транспортний засіб в належному робочому стані, який відповідає всім
вимогам законодавства.
    Ви усвідомлюєте, що несете повну відповідальність за зміст Оголошення, яке ви розміщуєте на
Платформі. Відповідно, ви підтверджуєте і гарантуєте точність і достовірність всієї інформації, що
міститься в вашому Оголошенні, і ви зобов’язуєтесь здійснити Поїздку відповідно до умов, що
зазначені в Оголошенні.
    При наданні вашого Оголошення, яке відповідає Умовам користування, воно буде розміщене на
Платформі і, відповідно, видиме для Учасників та всіх користувачів, у тому числі тих, які не є
Учасниками, які здійснюють пошук на Платформі або на веб-сайтах партнерів Vdorogu. Vdorogu
залишає за собою право на власний розсуд і без попередження не розмістити або видалити в
будь-який час будь-яке Оголошення, яке не відповідає Умовам користування або яке вважається
таким, що спричиняє шкоду іміджу Платформи або Послуг.
    Ви усвідомлюєте і погоджуєтесь, що критерії, які беруться до уваги при класифікації та визначенні
послідовності відображення вашого Оголошення серед інших Оголошень, визначається на
власний розсуд Vdorogu.
    4.2. Бронювання Місця
    Методи бронювання Місця залежать від виду запланованої Поїздки. Для деяких Поїздок Vdorogu
створив онлайн систему бронювання.
    4.2.1.  Поїздка з бронюванням
    Vdorogu створив систему для бронювання Місць онлайн («Бронювання») для деяких Поїздок,
запропонованих на Платформі («Поїздки з бронюванням»).
    Відповідність Поїздки умовам системи Бронювання залишається на розсуд Vdorogu, який залишає
за собою право змінювати ці умови в будь-який час.
    Коли Пасажир зацікавлений в Оголошенні з можливістю Бронювання, він може надіслати он-лайн
запит на Бронювання. Цей запит на Бронювання або (і) приймається автоматично (якщо Водій
обрав таку опцію при розміщенні Оголошення), або (іі) приймається вручну Водієм. Після
перевірки запиту на Бронювання Водієм, де це може бути передбачене, Пасажир отримує
підтвердження («Підтвердженні бронювання»).
    Якщо ви є Водієм і обрали ручну обробку запитів на Бронювання при розміщенні Оголошення, ви
зобов’язані відповідати на будь-який запит на Бронювання протягом проміжку часу, що
зазначений Пасажиром під час запиту на Бронювання. В іншому випадку, запит на бронювання
буде скасований автоматично.
    Під час Підтвердження бронювання, Vdorogu надсилає вам номер телефону Водія (якщо ви є
Пасажиром) або Пасажира (якщо ви є Водієм). Після цього ви повністю відповідальні за виконання
договору, що зобов’язує вас перед іншим Учасником.
    4.2.2. Іменний характер Бронювання Місць та умови користування Послугами від імені третьої
сторони
    Будь-яке використання Послуг як Пасажир або Водія пов’язане з конкретним іменем. Особи Водія і
Пасажира мають відповідати даним, наданим Vdorogu та іншими Учасниками, що беруть участь у
Поїздці.
    Тим не менш, Vdorogu дозволяє його Учасникам забронювати одне або більше Місць від імені
третьої особи. В цьому випадку, ви берете на себе обов’язок точно вказати Водієві під час
Бронювання або надсилання повідомлення Водію (в розумінні Поїздки без бронювання), повне
ім’я, вік та номер телефону особи, на чиє ім’я ви бронюєте Місце. Суворо заборонено бронювати
Місце для від імені неповнолітнього віком до 18 років, який подорожує самотужки.
    Крім того, Платформа призначена для бронювання Місць для фізичних осіб. Заборонено
бронювати Місце для перевезення будь-яких об’єктів, пакунків, тварин, що транспортуються без
супроводу, або матеріальних предметів будь-якого виду.
    Забороняється публікувати Оголошення від імені іншого Водія, крім вас.
    4.3.  Система відгуків
    4.3.1. Залишення відгуку
    Vdorogu заохочує вас залишати відгуки про Водіїв (якщо ви є Пасажиром) або про Пасажирів (якщо
ви є Водієм), з якими ви провели спільну Поїздку або з якими ви мали провести спільну Поїздку.
Тим не менш, вам не дозволено залишати відгук про іншого Пасажира, якщо ви також були
Пасажиром, або про Учасника, з яким ви не подорожували або з яким ви не плануєте
подорожувати.
    Ваш відгук, а також будь-який відгук, залишений вам іншим Учасником, є видимим і публікується
на Платформі, тільки в межах таких періодів: (і) відразу як тільки ви обоє залишили відгук або (іі)
після спливу 14 днів з моменту першого відгуку.
    Ви маєте можливість відповісти на відгук, залишений іншим Учасником у вашому профілі протягом
14 днів від дати отримання відгуку. Відгук і ваша відповідь, якщо вона була надана, будуть
опубліковані у вашому профілі.
    4.3.2. Модерація
    Ви усвідомлюєте і погоджуєтесь, що Vdorogu залишає за собою право не публікувати або видалити
будь-який відгук, питання, коментар або відповідь, якщо він вважає його таким, що порушує ці
Умови користування.
    4.3.3.  Обмеження
    Vdorogu залишає за собою право заблокувати ваш Акаунт, обмежити ваш доступ до Послуг або
припинити дію цих Умов користування у випадку, якщо (і) ви отримали принаймні три відгуки і (іі)
середній відгук, який ви отримали, менший або дорівнює 5 по 10-ти бальній системі.

        5. Фінансові умови
    Доступ та реєстрація на Платформі, а також пошук і перегляд Оголошень і розміщення Оголошень
про спільні автомобільні поїздки Пасажирам є безкоштовним. Оголошення Поїздки Водієм
здійснюється за умови придбання Доступу згідно з описаною далі процедурою.
    5.1. Доступ
    Будь-яке оголошення Поїздки Водієм здійснюється за умови попереднього придбання Доступу.
    5.1.1. Послуги
    Vdorogu запровадила систему (надалі  «Доступ»), яка дозволяє вам, як Водію, оголошувати будь-
яку Поїздку на Платформі протягом терміну дії Доступу (надалі  «Послуги»).
Під час придбання Доступу Vdorogu запропонує вам оплатити деяку суму за одне заявлене місце
пасажира.
    Vdorogu залишає за собою право змінювати Вартість Доступу на власний розсуд. Vdorogu завжди
заздалегідь повідомить вас про такі зміни, надіславши лист на вказану у вашому профілі адресу
електронної пошти. Нова Вартість Доступу вступить в силу з початку наступного Терміну дії за
умови, що з моменту повідомлення про зміну («Електронний лист-повідомлення») та початком
наступного Терміну дії («Початок нового Терміну дії») пройшло не менше 15 днів. Якщо між
отриманням Електронного листа-повідомлення та Початком нового терміну дії пройшло менше 15
днів, змінена Вартість Доступу вступить в силу з початку наступного Терміну дії Доступу.
    5.1.2. Спеціальна пропозиція
    Vdorogu періодично на обмежений період часу може організовувати спеціальні пропозиції (надалі
«Спеціальні пропозиції»). Докладний опис умов цих пропозицій публікуватиметься на Платформі.
    5.2. Внесок на покриття витрат
    Внесок на покриття витрат визначається вами як Водієм/Пасажиром під вашу повну
відповідальність.
    5.3.  Виплата Внеску на покриття витрат Водію
    Пасажир зобов’язується виплатити Внесок на покриття витрат Водію не пізніше точки його
висадки.
    Водій зобов’язаний не вимагати будь-якої оплати Внеску на покриття витрат повністю чи частково
перед початком Поїздки.

        6. Некомерційна мета Послуг та Платформи
    Ви погоджуєтесь використовувати Послуги та Платформу лише для встановлення контакту з
людьми, що хочуть здійснити Поїздку з вами, на некомерційній та не діловій основі.
Як Водій ви погоджуєтесь не вимагати Внесок на покриття витрат понад суму, яку ви фактично
витратили, та який може приносити прибуток, з урахуванням того, що під час розподілу витрат, ви
як Водій зобов’язані покривати свою частину витрат, необхідних для Поїздки. Ви повністю
відповідальні за розрахунок витрат, понесених внаслідок здійснення Поїздки та перевірку того, що
сума, запитувана від Пасажирів не перевищує фактично понесених витрат (з вирахуванням розміру
вашої частки) з урахуванням суми податку, якщо це є доцільним.
    У разі, якщо в процесі здійснення Поїздки, укладеної з використанням Платформи, Водієм
отримано прибуток, це підпадає під відповідне регулювання, включаючи обов’язок бути
зареєстрованим як особа, що займається підприємницькою діяльністю, сплачувати відповідні
податки, мати необхідні дозволи / ліцензії, при цьому Водій несе одноосібну відповідальність за
недотримання законодавства.

        7. Скасування
    7.1. Скасування Поїздки
    У випадку, коли Пасажир скасовує Поїздку перед відправленням, Місце (Місця), що були скасовані
Пасажиром, автоматично стають  доступними для інших Пасажирів, які можуть забронювати їх
онлайн та, відповідно, підпадають під умови цих Умов користування.

        8. Діяльність користувачів Платформи та Учасників
    8.1. Зобов’язання всіх користувачів Платформи
    Ви визнаєте, що ви є повністю відповідальними за дотримання законодавства, яке поширюється
на використання вами Платформи.
    Більше того, використовуючи Платформу та під час Поїздок, ви зобов’язуєтесь:
(i)	не надсилати Vdorogu (особливо під час створення та оновлення вашого Акаунту) чи іншим
(ii)	Учасникам жодної неправдивої, оманливої, зловмисної та шахрайської інформації;
(iii)	не розмовляти чи поводитись будь-яким чином або публікувати контент у Платформі, що має
(iv)	наклепницьку, шкідливу, непристойну, з елементами порнографії, вульгарну,
(v)	образливу, агресивну, непрохану, насильницьку, расистську чи ксенофобну
(vi)	інформацію, або ж інформацію із сексуальним підтекстом, інформацію, що розпалює
(vii)	насильство, дискримінацію чи ненависть, що спонукає до використання незаконних
(viii)	речовин, чи більш загально — таку, що суперечить меті функціонування Платформи,
(ix)	що може порушувати права Vdorogu чи третьої особи чи суперечить правилам моралі;
(iіі) не порушувати права та імідж Vdorogu, зокрема права інтелектуальної власності;
(іv)  не створювати більше одного Акаунту на Платформі та не створювати Акаунт на ім’я третьої
особи;
(v)   не намагатись обійти систему онлайн бронювання на Платформі, особливо пробуючи
надіслати іншому Учаснику вашу контактну інформацію для того, щоб здійснити бронювання за
межами Платформи;
(vi)   не зв’язуватися з іншим Учасником, зокрема за допомогою Платформи, з іншою метою, яка не
націлена на погодження умов спільної автомобільної поїздки;
(vii)  дотримуватись Умов користування та Політики конфіденційності.

    8.2.   Зобов’язання Водіїв
    Більше того, якщо ви використовуєте Платформу як Водій, ви зобов’язані:
(i)	дотримуватися вимог законодавства, що поширюються на відносини, пов’язані з керуванням
(ii)	транспортним засобом, зокрема мати застраховану цивільну відповідальність на
(iii)	момент здійснення Поїздки та володіти чинним водійським посвідченням;
(ii)   перевірити, чи ваше страхування покриває здійснення спільних поїздок, а також поширюється
на ваших Пасажирів, які вважаються третіми особами у вашому транспортному засобі, впродовж
усього часу Поїздки, навіть під час здійснення Поїздок з перетином кордону;
(iv)	не створювати жодного ризику під час водіння, не приймати жодних засобів, що можуть
(v)	знизити вашу увагу та погіршити вашу здатність керувати уважно та безпечно;
(iv)  публікувати Оголошення виключно щодо дійсно запланованих Поїздок;
(vi)	здійснювати Поїздку так, як про неї вказано в Оголошенні (особливо що стосується
(vii)	використання чи невикористання автомагістралей) та відповідно до погоджених з
(viii)	іншими Учасниками часу та місця (зокрема, місця зустрічі та місця висадки);
(vi)   не набирати Пасажирів понад кількість Місць, вказану в Оголошенні;
(vii) використовувати транспортний засіб в належному робочому стані, який відповідає вимогам законодавства;
(ix)	надавати на запит Vdorogu та будь-якого Пасажира: ваше водійське посвідчення, ваш
(x)	реєстраційний сертифікат на транспортний засіб, сертифікат страхування, та будь-який
(xi)	інший документ, що посвідчує ваші повноваження використовувати транспортний засіб
(xii)	як Водія на Платформі;
(ix)  у разі затримки чи зміни часу Поїздки, повідомляти Пасажира без затримки;
(x)	у випадку Поїздки з перетином кордону мати в наявності для Пасажира чи будь-якого
(xi)	уповноваженого органу, що може запитати, будь-який документ, що посвідчує вашу
(xii)	особистість та ваше право на перетин кордону;
(xi)  чекати Пасажира в погодженому місці зустрічі щонайменше протягом 15 хвилин після
погодженого часу;
(xiii)	не публікувати Оголошення, що стосуються транспортного засобу, яким ви не володієте чи не
(xiv)	маєте права спільного користування транспортним засобом;
(xiii)	забезпечити можливість для Пасажирів контактувати з вами за номером телефону, вказаним
(xiv)	у вашому профілі;
(xiv)  не мати жодних протипоказань чи медичних застережень до керування;
(xv)	впродовж Поїздки поводитись належно та відповідально, згідно з духом спільної поїздки
(xvi)	автомобілем;

(xvii)	не відхиляти будь-яке Бронювання через національне походження, релігійні погляди,

(xviii)	сексуальну орієнтацію, сімейний стан, інвалідність, зовнішні ознаки, вагітність,

(xix)	особливу вразливість у зв’язку з економічною ситуацією, ім’я, місце проживання, стан

(xx)	здоров’я, політичні переконання, вік.
    8.3.  Зобов’язання Пасажирів
    Коли ви використовуєте Платформу як Пасажир, ви зобов’язані:
(i)	належно поводитись під час Поїздки для того, щоб не перешкоджати концентрації чи
(ii)	керуванню Водія або спокою й тиші інших Пасажирів;
(ii) з дбайливістю ставитись до транспортного засобу Водія та додержуватись чистоти;
(iii)  у випадку запізнення негайно повідомити про це Водія;
(iv)  заплатити Водію погоджений Внесок на покриття витрат;
(v) зачекати на Водія у місці зустрічі щонайменше протягом 15 хвилин після погодженого часу;
(vi)  надати на запит Vdorogu чи будь-якого Водія вашу ідентифікаційну картку чи документ, що
посвідчує вашу особу;
(vii)  не перевозити під час Поїздки жодних предметів, товарів, речовин чи тварин, що можуть
перешкоджати керуванню та концентрації Водія, чи якщо такі предмети, володіння ними та їх
перевезення суперечить чинним нормам законодавства;
(viii)  забезпечити наявність будь-якого документу, що посвідчує вашу особу та ваше право на
перетин кордону для пред’явлення Водієві чи будь-якому уповноваженому органу, що може
запитати такий документ.
(ix)  забезпечити можливість для Водія контактувати з вами за номером телефону, вказаним у
вашому профілі.
    У ситуації, коли ви здійснили Бронювання одного чи більше Місць на ім’я третіх осіб, з
дотриманням вимог Статті 4.2.3 вище, ви гарантуєте дотримання цією третьою особою вимог цієї
статті, та Умов користування в цілому. Vdorogu залишає за собою право заблокувати ваш Акаунт,
обмежити ваш доступ до Послуг, чи припинити дію цих  Умов користування у випадку порушення
третьою особою, на ім’я якої ви забронювали Місце, цих Умов користування.

    9. Блокування акаунтів, обмеження доступу та припинення зобов’язань
    Ви можете припинити ваші договірні відносини з Vdorogu у будь-який час безоплатно та без
мотивування свого рішення. Щоб зробити це, вам потрібно просто перейти до розділу “Видалити
обліковий запис” на вашій Профільній сторінці.
    У випадку (і) порушення вами цих Умов користування, включаючи, але не обмежуючись вашими
зобов’язаннями як Учасника, викладеними у Пунктах 6 і 8 вище, (іі) перевищення ліміту,
встановленого у Пункті 4.3.3 вище, чи (ііі) якщо Vdorogu має реальну причину вірити, що це є
необхідним для захисту його безпеки та неушкодженості, а також Учасників чи третіх сторін, або з
метою запобігти шахрайству чи процесуальним провадженням, Vdorogu зберігає за собою право:
(i)	припинити дію Умов користування, що накладають зобов’язання на вас та Vdorogu негайно та
(ii)	без попередження; і/або
(iii)	запобігти розміщенню чи видалити будь-який відгук, Оголошення, повідомлення, контент,
(iv)	запит на Бронювання чи будь-який контент, розміщений вами на Платформі; і/або
(iii)   обмежити ваш доступ чи ваше користування Платформою; і/або
(iv)   тимчасово або на постійній основі заблокувати ваш Акаунт.
За необхідності ви будете повідомлені про вжиття таких заходів з метою надання вами пояснень
Vdorogu. Vdorogu на власний розсуд прийматиме рішення про те, чи скасовувати вжиті заходи.

    10. Персональні дані
    Під час використання вами Платформи, Vdorogu збиратиме та оброблятиме деякі ваші
персональні дані. Використовуючи Платформу та реєструючись як Учасник, ви усвідомлюєте та
погоджуєтеся на обробку ваших персональних даних Vdorogu відповідно до застосовного права та
умов Політики конфіденційності.


        11. Інтелектуальна власність
    11.1.   Контент, опублікований Vdorogu
З урахуванням контенту, наданого Учасниками, Vdorogu є єдиним власником усіх прав
інтелектуальної власності, пов’язаних з Послугами, Платформою, її контентом (зокрема,
повідомленнями, зображеннями, дизайном, логотипами, відеозаписами, звукозаписами, даними
та графіками) і програмним забезпеченням та базами даних, що забезпечують їхнє
функціонування.
Vdorogu надає вам невиключне, особисте і невідчужуване право користування Платформою та
Послугами, для вашого особистого та приватного використання, на некомерційних засадах та
відповідно до цілей Платформи та Послуг.
Забороняється будь-яке інше використання чи експлуатація Платформи чи Послуг, їхнього
контенту, без попереднього письмового дозволу від Vdorogu. Зокрема, забороняється:
(i)	відтворення, зміна, адаптування, поширення, публічна презентація та розповсюдження
(ii)	Платформи, Послуг та контенту, за винятком того, що прямо дозволено Vdorogu;
(iii)	декомпіляція і зворотний інжиніринг Платформи чи Послуг, із урахуванням винятків,
(iv)	обумовлених чинним текстом;
(iii)	вилучення чи намагання вилучити (зокрема, з використанням роботів, що вилучають дані, чи
(iv)	інших схожих засобів для збирання даних) істотної частини даних Платформи.

        11.2. Контент, розміщений вами на Платформі
    З метою забезпечення надання Послуг, і відповідно до цілей Платформи, ви надаєте Vdorogu
невиключну ліцензію на використання контенту та даних, наданих вами під час вашого
користування Послугами (тут і далі іменований як ваш “Контент Учасника”). Для того, щоб Vdorogu
міг поширювати через цифрову мережу та будь-які протоколи обміну даних (зокрема, інтернетом і
мобільною мережею), і надавати публічний доступ до контенту Платформи, ви надаєте право
Vdorogu, відтворювати, презентувати, адаптувати та перекладати ваш Контент Учасника на
території всього світу і протягом дії договірних відносин з Vdorogu,, як описано нижче:
(i)	ви надаєте право Vdorogu відтворювати весь чи частину вашого Контенту Учасника на будь-яких
(ii)	цифрових носіях для запису, відомих чи ще невідомих, і, зокрема, на будь-яких
(iii)	серверах, жорстких дисках, картах пам’яті, чи будь-яких рівноцінних носіях, у будь-
(iv)	якому форматі і з будь-якою обробкою, відомою чи ще невідомою, в обсязі,
(v)	необхідному для будь-якої операції зі зберігання, резервного копіювання, передачі або
(vi)	завантаження, пов’язаних із функціонуванням Платформи та наданням Послуг;
(ii)     ви надаєте право Vdorogu адаптувати та перекладати ваш Контент Учасника, і відтворювати ці
адаптування, як передбачено в пункті (і) вище, з метою надання Послуг, зокрема, різними мовами.
Це право, зокрема, включає можливість вносити зміни до форматування вашого Контенту
Учасника, не порушуючи ваших немайнових прав, з метою дотримання прийнятих правил
графічного оформлення Платформи і/або зробити його технічно сумісним з переглядом через
Платформу його публікації.

        12. Роль Vdorogu
    Платформа є мережевою онлайн платформою, на якій Учасники можуть створювати і розміщувати
Оголошення про Поїздки з метою спільного використання транспортного засобу. Ці Оголошення
можуть, зокрема, переглядатися іншими Учасниками, щоб з’ясувати умови Поїздки, і якщо
можливо, напряму забронювати Місце в транспортному засобі, про який йде мова в Оголошенні,
розміщеному Учасником на Платформі.
    Використовуючи Платформу та приймаючи ці Умови користування, ви визнаєте, що Vdorogu не є
стороною жодної угоди, укладеної між вами та іншими Учасниками з метою розподілення витрат,
пов’язаних з Поїздкою.
    Vdorogu не контролює поведінку Учасників та інших користувачів Платформи. Він не володіє, не
користується, не забезпечує і не керує автомобілями суб’єктів Оголошення, а також він не
пропонує жодних Поїздок на Платформі.
    Ви визнаєте та приймаєте те, що Vdorogu не контролює достовірності, правдивості чи законності
Оголошень, запропонованих Місць чи Поїздок. Як посередник для спільного використання
транспортного засобу, Vdorogu не надає жодних транспортних послуг і не виступає як перевізник;
роль Vdorogu обмежена забезпеченням доступу до Платформи.
    Учасники (Водії чи Пасажири) є повністю відповідальними за свої дії.
    Діючи як посередник Vdorogu не може бути притягненим до відповідальності за дійсне настання
Поїздки, і, зокрема, за:
(i)	помилкову інформацію, надану Водієм в його Оголошенні чи будь-якими іншими способами
(ii)	щодо Поїздки та її умов;
(ii)     скасування чи зміну Поїздки Учасником;
(iii)   несплату Внеску на покриття витрат Пасажиром в контексті Поїздки без Бронювання;
(iv)   поведінку його Учасників під час, перед та після Поїздки.

        13. Робота, доступність та функціональні можливості Платформи
    Vdorogu намагатиметься, на скільки це можливо, підтримувати доступність Платформи 7 днів на
тиждень і 24 години на добу. Проте доступ до Платформи може бути тимчасово призупинений,
без попередження через технічне обслуговування, операції з переміщення чи оновлення чи через
збої або обмеження, пов’язані з роботою мережі.
    Більше того, Vdorogu зберігає право змінювати чи припиняти повністю або частково доступ до
    Платформи чи її функціональних можливостей на власний розсуд, тимчасово чи на постійній
основі.

        14. Зміна Умов користування
    Ці Умови користування і документи, приєднані шляхом посилання на них становлять угоду між
вами та Vdorogu стосовно вашого користування Послугами. Будь-які інші документи, зокрема,
будь-які згадки на Платформі (Запитання і Відповіді, тощо.), є лише вказівками.
Vdorogu може змінювати ці Умови користування з метою їхнього адаптування до технологічних та
комерційних умов функціонування Vdorogu та відповідності чинному законодавству. Будь-які
зміни до цих Умов користування будуть опубліковані на Платформі із вказівкою на дату набрання
ними чинності без попередньо повідомлення, в зв’язку з чим використання Платформи і Сервісу
пропонується в режимі “як є”, тобто в тому вигляді та обсязі, в якому вони надаються компанією
Vdorogu на дату звернення вами до пропонованих Сервісів.  Розміщення вами оголошень,
бронювання вами Місць та продовження користування Платформою після набрання чинності
зміненими Умовами користування означає, що ви приймаєте внесені зміни та зобов’язуєтеся їх
виконувати.

        15. Право, що застосовується при вирішенні спорів
    Ці Умови користування викладені українською мовою та регулюються правом України.
Всі суперечки, які можуть виникнути у зв’язку з цими Умовами користування, вирішуватимуться
компетентним судом.</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
{% endblock %}
