<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Test assignment, php, twig, mysql, bootstrap"/>
    <title>Vdorogu</title>
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css" type="text/css">
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js">
      </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js"></script>
    <script type="text/javascript" src="/public/js/index.js"></script>
  </head>
  <body class="container-fluid">
    <div class="row justify-content-center">
    <!-- Header & nav -->
      <header class="col-12 px-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Vdorogu</a>
          <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse"
            id="navbarNavAltMarkup"
          >
            <div class="navbar-nav mr-auto">
              {% if current_user is empty %}
                <a class="nav-item nav-link pl-3"
                  href="/signup/new">Регістрація</a>
              {% endif %}
              <a class="nav-item nav-link pl-3"
                href="/rules">Правила використання сайту</a>
              <a class="nav-item nav-link pl-3"
                href="/allquestions">Запитання та відповіді</a>
                <a class="nav-item nav-link pl-3 text-success"
                href="/routes">Маршрути</a>
            </div>
            <span class="navbar-text text-right">
              {% if current_user %}
              <a class="nav-item nav-link d-sm-block d-lg-inline text-primary"
                href="/profile/show"
              >
                Профіль користувача {{ current_user.name }}
              </a>
              <a class="nav-item nav-link d-sm-block d-lg-inline text-left"
                  href="/logout">Вийти</a>
              {% else %}
                <a class="nav-item nav-link d-sm-block d-lg-inline text-primary"
                href="/login">Вхід</a>
              {% endif %}
            </span>
          </div>
        </nav>
      </header>
      <!-- Main -->
      <main class="col-12 px-0 pb-3">
        <!-- Flash messages -->
        {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }} alert-dismissible fade show col-12 col-sm-8 offset-sm-2 mt-3">
          {{ message.body }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% block main %}
        {% endblock %}
      </main>
      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <span class="text-muted">Знайди собі попутника Vdorogu!</span>
        </div>
      </footer>
    </div> <!-- Main row -->
  </body>
</html>
