{% extends "base.html" %}

{% block title %}Edit profile{% endblock %}

{% block main %}

{% block footer %}
<script src="/public/js/app.js"></script>

<script>
  $(document).ready(function () {
    const userId = '{{ user.id }}'
    /**
     * Validate the form
     */
    $('#formProfile').validate({
      rules: {
        name: {
          required: true,
          maxlength: 12
        },
        lastName: {
          required: true,
          maxlength: 12
        },
        carName: {
          maxlength: 12
        },
        email: {
          required: true,
          email: true,
          remote: {
            url: '/account/validate-email',
            data: { // to pass to the remote method
              ignore_id: function () {
                return userId
              }
            }
          }
        },
        password: {
          minlength: 6,
          validPassword: true
        },
        birthDate: 'required'
      },
      messages: {
        email: {
          remote: 'E-mail вже зайнято'
        }
      }
    })
  })
</script>

{% endblock %}
<section class="container-fluid">

<h1 class="py-3 text-center text-primary font-weight-light">Редагувати профіль</h1>

<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <!-- Errors if any -->
      {% if user.errors is not empty %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Please review your input:</strong>
        <ul>
        {% for error in user.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
    <!-- Form -->
      <form method="post" id="formProfile" action="/profile/update">
        <!-- Name -->
        <div class="form-group">
          <label for="inputName">Ім'я</label>
          <input
            id="inputName"
            name="name"
            value="{{ user.name }}"
            required
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Your name here"
          >
        </div>
        <!-- Last name -->
        <div class="form-group">
          <label for="inputName">Прізвище</label>
          <input
            id="inputLastName"
            name="lastName"
            value="{{ user.last_name }}"
            required
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Your name here"
          >
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="inputEmail">Адреса електронної пошти</label>
          <input
            id="inputEmail"
            type="email"
            name="email"
            value="{{ user.email }}"
            required
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            autocomplete="username email"
            {% if user.id == 1 %}
              disabled
            {% endif %}
          >
          {% if user.id == 1 %}
          <small id="passwordHelp"
            class="form-text text-muted"
          >
            Ви не можете цього зробити для цього користувача.
          </small>
          {% endif %}
        </div>
        <!-- Password -->
        <div class="form-group">
          <label for="inputPassword">Пароль</label>
          <input
            id="inputPassword"
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            autocomplete="new-password"
            title="Мінімум 6 символів, принаймні одна літера та цифра."
            aria-describedby="passwordHelp"
            {% if user.id == 1 %}
              disabled
            {% endif %}
          >
          {% if user.id == 1 %}
          <small id="passwordHelp" class="form-text text-muted">Будь ласка, не змінюйте демо-пароль.</small>
          {% else %}
          <small id="passwordHelp" class="form-text text-muted">Залиште порожнє, щоб зберегти поточний пароль.</small>
          {% endif %}
        </div>
        <!-- Show password checkbox -->
        <div class="form-group custom-control custom-checkbox">
          <input
            type="checkbox"
            onclick="togglePasswordVis()"
            class="custom-control-input"
            id="signupPasswordCheckbox"
            name="signupPasswordCheckbox"
          />
          <label class="custom-control-label" for="signupPasswordCheckbox">Показати пароль</label>
        </div>
        <!-- Birthday -->
        <div class="form-group">
          <label for="birthDate">Дата народження</label>
            <input
              class="form-control"
              type="date"
              value="{{ user.birth_date }}"
              id="birthDate"
              name="birthDate"
            >
        </div>
        <!-- Gender -->
        <fieldset class="form-group mb-0">
          <legend class="col-form-label col-sm-2 pl-0">Стать</legend>
          <div class="col-sm-10 pl-0">
            <div class="py-1 custom-control custom-radio custom-control-inline">
              <input
                class="custom-control-input"
                type="radio"
                name="gender"
                id="genderMale"
                value="male"
                required
                {% if user.gender == 'male' %} checked {% endif %}
              >
              <label class="custom-control-label" for="genderMale">
                👨 Чоловіча
              </label>
            </div>
            <div class="py-1 custom-control custom-radio custom-control-inline">
              <input
                class="custom-control-input"
                type="radio"
                name="gender"
                id="genderFemale"
                value="female"
                required
                {% if user.gender == 'female' %} checked {% endif %}
              >
              <label class="custom-control-label" for="genderFemale">
                👩 Жіноча
              </label>
            </div>
            <div class="py-1 custom-control custom-radio custom-control-inline">
              <input
                class="custom-control-input"
                type="radio"
                name="gender"
                id="genderTrans"
                value="trans"
                required
                {% if user.gender == 'trans' %} checked {% endif %}
              >
              <label class="custom-control-label" for="genderTrans">
                ⚧️ Transgender
              </label>
            </div>
          </div>
          <label id="gender-error" class="error" for="gender"></label>
        </fieldset>
        <!-- Vehicle -->
        <fieldset class="form-group">
          <legend class="col-form-label col-sm-2 pl-0">
            Авто
          </legend>
          <div class="col-sm-10 pl-0">
            <div class="custom-control custom-radio custom-control-inline">
              <input
                class="custom-control-input"
                type="radio"
                name="car"
                id="noCar"
                value="0"
                onclick="toggleCarNameField()"
                {% if user.car == 0 %} checked {% endif %}
              >
              <label class="custom-control-label" for="noCar">
                Ні
              </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                class="custom-control-input"
                type="radio"
                name="car"
                id="hasCar"
                value="1"
                onclick="toggleCarNameField()"
                {% if user.car %} checked {% endif %}
              >
              <label class="custom-control-label" for="hasCar">
                Так
              </label>
            </div>
          </div>
        </fieldset>
        <!-- Vehicle name -->
        <div class="form-group">
          <label for="inputCarName">Марка авто</label>
          <input
            class="form-control"
            id="inputCarName"
            name="carName"
            value="{{ user.car_name }}"
            {% if user.car == 0 %} disabled {% endif %}
            placeholder="Ford, Subaru, Renault"
          >
        </div>
        <!-- Save button -->
        <div class="form-group justify-content-end">
          <button type="submit"
            class="btn btn-primary"
          >
            Зберегти
          </button>
          <a role="button"
            class="btn btn-secondary ml-2 text-white"
            href="/profile/show"
          >
            Скасувати
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
  
</section>
{% endblock %}
