{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block main %}
<section class="container-fluid">
  <article class="row justify-content-center">
    <div class="col-12 py-3">
      <h1 class="text-center">Profile</h1>
      <!-- Delete question style="border: 1px solid red" -->
    </div>
    <div class="col-12 col-md-5 border p-3 mb-3">
      <div class="row">
        <div class="col-4">
          Name
        </div>
        <div class="col-8">
          {{ user.name }}
        </div>
        <div class="col-4">
          Last name
        </div>
        <div class="col-8">
          {{ user.last_name }}
        </div>
        <div class="col-4">
          Email
        </div>
        <div class="col-8">
          {{ user.email }}
        </div>
        <div class="col-4">
          Date of birth
        </div>
        <div class="col-8 align-self-center">
          {{ user.birth_date }}
        </div>
        <div class="col-4">
          Gender
        </div>
        {% if user.gender == 'male' %}
        <div class="col-8">
          👨
        </div>
        {% elseif user.gender == 'female' %}
        <div class="col-8">
          👩
        </div>
        {% else %}
        <div class="col-8">
          ⚧️
        </div>
        {% endif %}
        {% if user.car == 1 %}
        <div class="col-4">
          Car
        </div>
        <div class="col-8">
          🚗
        </div>
        <div class="col-4">
          Model
        </div>
        <div class="col-8">
          {{ user.car_name }} <!-- car name?? -->
        </div>
        {% endif %}
      </div> <!-- !st Row -->
      <div class="row justify-content-between px-3 pt-3">
        <form method="post" action="/profile/edit">
          <button class="btn btn-sm btn-primary">Edit profile</button>
        </form>
        <!-- Button trigger modal -->
        <button type="submit" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#confirmDeleteModal">
          Delete profile
        </button>
        {% include 'Profile/modal.html' %}
      </div>
    </div><!-- Column -->

    <div class="col-12 col-md-5 border p-3 mb-3">
    <!-- Routes are here --> Routes list
    </div>
  </article>
</section>
{% endblock %}
