{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block main %}
<section class="container">
  <article class="p-3 row justify-content-center">
    <div class="col-12">
      <h1 class="text-center font-weight-light text-primary">Профіль користувача</h1>
    </div>
    <!-- Profile column -->
    <div class="col-12 col-sm-5">
      <h4 class="py-2 text-center text-primary font-weight-light">
        Чутливі дані:
      </h4>
      <div class="row">
        <div class="col-12 text-primary">
          Ім'я:
        </div>
        <div class="col-12 pb-2">
          {% if user.gender == 'male' %}
            👨
          {% elseif user.gender == 'female' %}
            👩
          {% else %}
            ⚧️
          {% endif %}
          {{ user.name }} {{ user.last_name }}
        </div>
        <div class="col-12 text-primary">
          Електронна пошта:
        </div>
        <div class="col-12 pb-2">
            📧 {{ user.email }}
        </div>
        <div class="col-12 text-primary">
          Дата народження:
        </div>
        <div class="col-12 pb-2">
          🎂 {{ user.birth_date|localizeddate('long', 'none', locale) }}
        </div>
        {% if user.car == 1 %}
        <div class="col-12 text-primary">
          Транспортний засіб:
        </div>
        <div class="col-12 pb-2">
          🚗 {{ user.car_name }}
        </div>
        {% endif %}
      </div> <!-- 1st Row -->
      <div class="row justify-content-end px-3 py-3">
        <button type="button"
          onclick="location.href = '/routes/show';"
          class="btn btn-sm btn-success"
        >
          Маршрути
        </button>
        <form method="post" action="/profile/edit" class="mx-2">
          <button type="submit"
            class="btn btn-sm btn-primary"
          >
            Редагувати
          </button>
        </form>
        <!-- Button trigger modal -->
        <button type="button"
          class="btn btn-sm btn-outline-danger"
          data-toggle="modal"
          data-target="#confirmDeleteModal"
          {% if current_user.id == '1' %}
            disabled
          {% endif %}
        >
          Видалити
        </button>
        {% include 'Profile/modal.html' %}
      </div>
      {% if current_user.id == '1' %}
        <div class="p-2 border border-danger rounded text-danger text-center">
          Ви не можете видалити цей демонстраційний профіль
        </div>
      {% endif %}
    </div><!-- End of profile display column -->
  </article>
</section>
{% endblock %}
